In [ ]:
import pandas as pd
import json
import os
from sqlalchemy import create_engine
import mysql
import mysql.connector

In [117]:
#sqlalchemy 
config = {'user':'root',    'host':'localhost','password':'1234', 'database':'phonepe'}
connection = mysql.connector.connect(**config)
cursor = connection.cursor()
engine = create_engine('mysql+mysqlconnector://root:1234@localhost/phonepe',echo=False)
year=2019
state="Manipur"
quarter=3
cursor.execute("""select State,users_count,Brand,users_precentage from agg_user where Year=2019 and State='Manipur' and Quarter=4;""")
agg_user = cursor.fetchall() 
agg_user_df = pd.DataFrame(agg_user,columns=['State','User Count','Brand','Percentage'])
agg_user_df = agg_user_df[agg_user_df['State']==state]

In [118]:
agg_user_df

      State  User Count     Brand  Percentage
0   Manipur       71382    Xiaomi   45.946781
1   Manipur       27196   Samsung   17.505375
2   Manipur       17057      Vivo   10.979158
3   Manipur       12455      Oppo    8.016967
4   Manipur        5083    Realme    3.271798
5   Manipur        4146     Apple    2.668675
6   Manipur        2110    Huawei    1.358153
7   Manipur        1880   OnePlus    1.210108
8   Manipur        1694  Motorola    1.090385
9   Manipur        1532    Gionee    0.986110
10  Manipur       10823    Others    6.966490

In [ ]:
def format_state(state):
    words = state.split('-')
    return ' '.join([word.capitalize() for word in words])

In [ ]:
#agg_ transaction state list
path1="C:/Users/aarun/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path1)

#This is to extract the data's to create a dataframe

column1={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              column1['Transaction_type'].append(Name)
              column1['Transaction_count'].append(count)
              column1['Transaction_amount'].append(amount)
              column1['State'].append(i)
              column1['Year'].append(j)
              column1['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(column1)   
Agg_Trans['State'] = Agg_Trans['State'].apply(format_state)    
Agg_Trans['State'] = Agg_Trans['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Agg_Trans.to_sql('agg_trans',con=engine,if_exists='replace',index=False)

In [ ]:
Agg_Trans

In [ ]:
Agg_state_list

In [ ]:
D

In [ ]:
Agg_Trans

In [ ]:
Agg_state_list

In [ ]:
df_state= Agg_Trans["State"]
df_state

In [ ]:
path="C:/Users/aarun/pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df2={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Users_count':[], 'Users_precentage':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['usersByDevice']:
                        brand = z['brand']
                        count = z['count']
                        percentage = z['percentage']
                        df2['Brand'].append(brand)
                        df2['Users_count'].append(count)
                        df2['Users_precentage'].append(percentage*100)
                        df2['State'].append(i)
                        df2['Year'].append(j)
                        df2['Quarter'].append(int(k.strip('.json')))
Agg_User=pd.DataFrame(df2)
Agg_User['State'] = Agg_User['State'].apply(format_state)    
Agg_User['State'] = Agg_User['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Agg_User.to_sql('agg_user',con=engine,if_exists='replace',index=False)

In [ ]:
df2

In [ ]:
#agg user
path="C:/Users/aarun/pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df2={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Users_count':[], 'Users_precentage':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            #try is used because TypeError: 'NoneType' object is not iterable
            try:
                for z in D['data']['usersByDevice']:
                        brand = z['brand']
                        count = z['count']
                        percentage = z['percentage']
                        df2['Brand'].append(brand)
                        df2['Users_count'].append(count)
                        df2['Users_precentage'].append(percentage*100)
                        df2['State'].append(i)
                        df2['Year'].append(j)
                        df2['Quarter'].append(int(k.strip('.json')))
            except:
                pass                        
Agg_User=pd.DataFrame(df2)
Agg_User['State'] = Agg_User['State'].apply(format_state)    
Agg_User['State'] = Agg_User['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Agg_User.to_sql('agg_user',con=engine,if_exists='replace',index=False)

In [ ]:
path2=pd.read_json("C:/Users/aarun/pulse/data/map/transaction/hover/country/india/2020/3.json")
path2.to_records().tolist()

In [ ]:
path= "C:/Users/aarun/pulse/data/map/transaction/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df3={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transaction_count':[], 'Transaction_Amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
D

In [ ]:
#map transacton
path= "C:/Users/aarun/pulse/data/map/transaction/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df3={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transaction_count':[], 'Transaction_Amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
                    amount = z['metric'][0]['amount']
                    count = z['metric'][0]['count']
                    name = z['name']
                    df3['Transaction_Amount'].append(amount)
                    df3['Transaction_count'].append(count)
                    df3['District'].append(name)
                    df3['State'].append(i)
                    df3['Year'].append(j)
                    df3['Quarter'].append(int(k.strip('.json')))
Map_trans=pd.DataFrame(df3)
Map_trans['State'] = Map_trans['State'].apply(format_state)    
Map_trans['State'] = Map_trans['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Map_trans['District'] = Map_trans['District'].str.capitalize()
Map_trans['District'] = Map_trans['District'].str.replace('district','')
Map_trans.to_sql('map_trans',con=engine,if_exists='replace',index=False)

In [ ]:
path3=pd.read_json("C:/Users/aarun/pulse/data/map/user/hover/country/india/2019/2.json")
path3.to_records().tolist()

In [ ]:
path="C:/Users/aarun/pulse/data/map/user/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df4={'State':[], 'Year':[],'Quarter':[],'District':[], 'Total_users':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
D

In [ ]:
#map user
path="C:/Users/aarun/pulse/data/map/user/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df4={'State':[], 'Year':[],'Quarter':[],'District':[], 'Total_users':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverData']:
                    district = z
                    users = D['data']['hoverData'][z]['registeredUsers']
                    df4['District'].append(district)
                    df4['Total_users'].append(users)
                    df4['State'].append(i)
                    df4['Year'].append(j)
                    df4['Quarter'].append(int(k.strip('.json')))                        
Map_user=pd.DataFrame(df4)
Map_user['State'] = Map_user['State'].apply(format_state)    
Map_user['State'] = Map_user['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Map_user['District'] = Map_user['District'].str.capitalize()
Map_user['District'] = Map_user['District'].str.replace('district','')
Map_user.to_sql('map_user',con=engine,if_exists='replace',index=False)

In [ ]:
path4=pd.read_json("C:/Users/aarun/pulse/data/top/transaction/country/india/2020/3.json")
path4.to_records().tolist()

In [ ]:
path="C:/Users/aarun/pulse/data/top/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df5={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
D

In [ ]:
#top transsaction
path="C:/Users/aarun/pulse/data/top/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df5={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                    pincode = z['entityName']
                    count = z['metric']['count']
                    trans = z['metric']['amount']
                    df5['Pincode'].append(pincode)
                    df5['Transaction_amount'].append(trans)
                    df5['Transaction_count'].append(count)
                    df5['State'].append(i)
                    df5['Year'].append(j)
                    df5['Quarter'].append(int(k.strip('.json')))                        
Top_trans=pd.DataFrame(df5)
Top_trans['State'] = Top_trans['State'].apply(format_state)    
Top_trans['State'] = Top_trans['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Top_trans.to_sql('top_trans',con=engine,if_exists='replace',index=False)

In [ ]:
path4=pd.read_json("C:/Users/aarun/pulse/data/top/user/country/india/2020/3.json")
path4.to_records().tolist()

In [ ]:
path4="C:/Users/aarun/pulse/data/top/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df6={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'User_count':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
D

In [ ]:
path4="C:/Users/aarun/pulse/data/top/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
df6={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'User_count':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                    pincode = z['entityName']
                    count = z['metric']['count']
                    df6['Pincode'].append(pincode)
                    df6['User_count'].append(count)
                    df6['State'].append(i)
                    df6['Year'].append(j)
                    df6['Quarter'].append(int(k.strip('.json')))                        
Top_user=pd.DataFrame(df6)
Top_user['State'] = Top_user['State'].apply(format_state)    
Top_user['State'] = Top_user['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Top_user.to_sql('top_user',con=engine,if_exists='replace',index=False)